.nav {
    position: absolute;
    left: 0;
    margin-top: 7px;
}

.nav__list {
    display: flex;
    list-style-type: none;
}

.nav__element {
    padding: 4px;
    margin-right: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}